<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="status">
        <div class="input">
            <h3>Error 404 !! 😔😔</h3>
        </div>
        <div class="submit">
            <a href="{% url 'signup_login' %}">Try Again</a>
        </div>
    </div>

</body>
</html>